@using ShoppingSite.Models;
@using ShoppingSite.Controllers;
@model Dictionary<Item, int>
@{
    ViewBag.Title = "Index";

    var itemTable = Model;
    var shippingPrice = 8m;
    var taxRate = 0.07m;
}
<div id="content">
    <aside class="white-box-top">
    </aside>
    <aside class="white-box-middle">
        <aside class="check-wrap">
            <aside class="check-head">
                <ul>
                    <li>
                        <aside class="width165 left">&nbsp;</aside>
                        <aside class="width360 left">Items</aside>
                        <aside class="width130 left">Price</aside>
                        <aside class="width130 left">Qty</aside>
                        <aside class="width60 left">Total</aside>
                    </li>
                </ul>
            </aside>
            <aside class="check-data">
                <ul>
                    @{
                        var total = 0m;
                    }
                    @foreach (var pair in itemTable)
                    {
                        var item = pair.Key;
                        var quantity = pair.Value;
                        var unitPrice = item.Discount ?? item.Price;
                        var price = unitPrice * quantity;
                        
                        <li>
                            <aside class="width165 left">
                                <img alt="" src="@Url.GetItemImageUrl(item.Id)" style="width:108px; height:88px;" class="left brdr" /></aside>
                            <aside class="width330 left padr-30">
                                <strong class="txt14">@item.Name</strong>
                                <br />
                                <span class="left mart-10">@Html.Raw(item.Description.Replace("\\n", "<br />"))</span>
                                <br />
                                <br />
                                <a href="#" class="left mart-10">Remove</a>
                            </aside>
                            <aside class="width130 left">@String.Format("{0:C}", unitPrice)</aside>
                            <aside class="width130 left">
                                <select name="" class="input6">
                                    <option>@quantity</option>
                                </select>
                            </aside>
                            <aside class="width60 left">
                                <strong>@String.Format("{0:C}", price)</strong>
                            </aside>
                        </li>
                        
                        total += price;
                    }
                    @{
                        var tax = total * taxRate;
                        var overall = total + shippingPrice + tax;
                    }
                    <li style="border: none;">
                        <aside class="width580 left">&nbsp;</aside>
                        <aside class="width160 left">
                            <span class="right padr-10">Merchandise Total:</span><br />
                            <span class="mart-15 right padr-10">Estimated Shipping:</span><br />
                            <span class="mart-15 right padr-10">Estimated Taxes (7%):</span><br />
                            <span class="mart-15 right padr-10"><strong>Total:</strong></span>
                            <div class="clear">
                                &nbsp;</div>
                            <input type="image" src="@Url.GetImageUrl("cont-shop.jpg")" class="left mart-10">
                        </aside>
                        <aside class="width95 left marl-10">
                            <span class="padl-20">@String.Format("{0:C}", total)</span><br />
                            <span class="mart-15 left padl-20">@String.Format("{0:C}", shippingPrice)</span><br />
                            <span class="mart-15 left padl-20 clear">@String.Format("{0:C}", tax)</span><br />
                            <span class="mart-15 left padl-20"><strong>@String.Format("{0:C}", overall)</strong></span>
                            <div class="clear">
                                &nbsp;</div>
                            <a href="place-order.html">
                                <input type="image" src="@Url.GetImageUrl("checkout.jpg")" class="left mart-10" /></a>
                        </aside>
                    </li>
                </ul>
            </aside>
            <div class="clear">
                &nbsp;</div>
            <br />
            <br />
        </aside>
    </aside>
    <aside class="white-box-bottom">
    </aside>
    <div class="clear">
    </div>
</div>
