@using ShoppingSite.Models;
@using ShoppingSite.Controllers;
@model Department
@{
    ViewBag.Title = "Department";

    var department = Model;
    var categories = ViewBag.Categories as List<Category>;
    var category = ViewBag.Category as Category;
    var items = category.Items.Where(i => i.DepartmentId == department.Id);
    var count = 0;
}
<div id="content">
    <aside class="white-box-top">
    </aside>
    <aside class="white-box-middle">
        @Html.Sidebar(Url, categories, department.Id, category.Id)
        <aside class="pro-right">
            <img alt="" src="@Url.Content("~/Content/images/shirts.jpg")" />
            <div class="clear">
            </div>
            @foreach (var item in items)
            {
                <aside class="pro-box">
                    <a href="@Url.Action("Index", "Item", new { ItemId = item.Id })">
                        <img alt="" style="width:148px; height=148px;" src="@Url.GetItemImageUrl(item)" />
                        <h1>
                            @item.Name</h1>
                        @if (item.Discount.HasValue)
                        {
                            <h2>
                                Price: <strong class="line-through"><span>&nbsp;@String.Format("{0:C}", item.Price)&nbsp; </span></strong>
                            </h2>
                            <aside class="discount">Discounted : <strong>@String.Format("{0:C}", item.Discount.Value)</strong></aside>
                        }
                        else
                        {
                            <h2>
                                Price: <strong>@String.Format("{0:C}", item.Price)</strong></h2>
                        }
                    </a>
                </aside>
                
                        if (++count % 4 == 0)
                        {
                <div class="clear">
                    <br />
                    <br />
                </div>
                        }
            }
        </aside>
    </aside>
    <aside class="white-box-bottom">
    </aside>
    <div class="clear">
    </div>
</div>
