@{
	ViewBag.Title = "Department";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
	<aside class="white-box-top">
	</aside>
	<aside class="white-box-middle">
		<aside class="pro-left">
			<aside class="gray-smll">
				<h1>
					Shop By Category</h1>
				<ul>
					<li><a href="#">Suits</a></li>
					<li><a href="#" class="current">Shirts</a></li>
					<li><a href="#">Shoes</a></li>
					<li><a href="#">Jeans</a></li>
					<li><a href="#">Hoodies</a></li>
					<li><a href="#">Sweatshirts</a></li>
				</ul>
			</aside>
			<img src="@Url.Content("~/Content/images/bg-gray-smll-bot.jpg")" class="left clear">
			<img src="@Url.Content("~/Content/images/img-left-smll.jpg")" class="left clear">
		</aside>
		<aside class="pro-right">
			<img src="@Url.Content("~/Content/images/shirts.jpg")">
			<div class="clear">
				&nbsp;</div>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt1.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong>$45</strong></h2>
			</aside>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt2.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong class="line-through"><span>&nbsp;$45&nbsp; </span></strong>
				</h2>
				<aside class="discount">Discounted : <strong>$25</strong></aside>
			</aside>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt3.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong class="line-through"><span>&nbsp;$45&nbsp; </span></strong>
				</h2>
				<aside class="discount">Discounted : <strong>$25</strong></aside>
			</aside>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt4.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong>$45</strong></h2>
			</aside>
			<div class="clear">
				<br>
				<br>
			</div>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt5.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong>$45</strong></h2>
			</aside>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt6.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong>$45</strong></h2>
			</aside>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt7.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong>$45</strong></h2>
			</aside>
			<aside class="pro-box">
				<img src="@Url.Content("~/Content/images/shirt8.jpg")">
				<h1>
					Product Title</h1>
				<h2>
					Price: <strong class="line-through"><span>&nbsp;$45&nbsp; </span></strong>
				</h2>
				<aside class="discount">Discounted : <strong>$25</strong></aside>
			</aside>
			<div class="clear">
				&nbsp;</div>
		</aside>
	</aside>
	<aside class="white-box-bottom">
	</aside>
	<div class="clear">
	</div>
</div>
