@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
	<aside id="content-left">
		<a href="@Url.Content("~/Store")">
			<img alt="" src="@Url.Content("~/Content/images/pic2.png")" width="209" height="194">
		</a><a href="@Url.Content("~/Sale")">
			<img alt="" src="@Url.Content("~/Content/images/pic3.jpg")" hspace="2" vspace="20">
		</a>
	</aside>
	<aside id="content-right">
		<img alt="" src="@Url.Content("~/Content/images/pic1.jpg")" width="730" height="480">
	</aside>
</div>
