@using ShoppingSite.Models
@using ShoppingSite.Controllers;
@model Item
@{
    ViewBag.Title = "Item";
    var item = Model;
    var isOnSale = item.Discount != null;
    var price = isOnSale ? item.Discount.Value : item.Price;
    var categories = ViewData["categories"] as List<Category>;
}
<div id="content">
    <aside class="white-box-top">
    </aside>
    <aside class="white-box-middle">
        @Html.Sidebar(Url, categories, item.DepartmentId);
        <aside class="pro-right">
            <aside class="pro-view">
                <img alt="" src="@Url.GetItemImageUrl(item)" style="width:265px;" class="left brdr" />
                <a href="#" class="left">
                    <img alt="" src="@Url.GetImageUrl("ico-view.jpg")" align="absmiddle" />
                    View Enlarge</a>
                <div class="clear">
                    &nbsp;</div>
                <form id="form" action="@Url.Action("SetItems", "Cart")" method="post">
                <p class="left">
                    <span class="mart-5 left">Qty:&nbsp;&nbsp;</span>
                    <select name="Quantity" class="input6 left">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>
                </p>
                <p class="left marlr-10">
                    <input type="image" value="" src="@Url.GetImageUrl("add-cart.jpg")" /></p>
                <input type="hidden" name="ItemId" value="@item.Id" />
                </form>
            </aside>
            <aside class="pro-info">
                <h1>@item.Name</h1>
                <aside class="left txt-aln-r marl-30">
                    @if (isOnSale)
                    {
                        <span class="mart-10 left">Price:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <strong class="red txt17 left mart-10 line-through">@String.Format("{0:C}", item.Price)</strong>
                        <span style="margin: 7px;" class="discount">@String.Format("{0:C}", price)</span>
                    }
                    else
                    {
                        <span class="mart-10 left">Price:&nbsp;&nbsp;&nbsp;&nbsp;</span> <strong class="red txt17 left mart-10">@String.Format("{0:C}", item.Price)</strong>
                    }
                </aside>
                <div class="clear">
                    &nbsp;</div>
                <h2>
                    About this product</h2>
                <p>@Html.Raw(item.Description.Replace("\\n", "<br />"))</p>
            </aside>
            <div class="clear">
                &nbsp;</div>
            <br />
            <br />
        </aside>
    </aside>
    <aside class="white-box-bottom">
    </aside>
    <div class="clear">
    </div>
</div>
